name: Run-test

on:
  push:
    branches: [ "main" ]

  workflow_dispatch:
    inputs:        
      log_errors:  
        description: "Generate error log if tests fail"
        required: true
        default: "false"
        type: choice
        options:
          - "true"
          - "false"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run tests
        run: |
          pytest

      
      
      - name: Generate error log
        if: failure() && github.event.inputs.log_errors == 'true'
        run: |
          echo "Tests failed on $(date)" > error-log.txt
          pytest --verbose >> error-log.txt 2>&1 || true

      - name: Upload error log artifact
        if: failure() && github.event.inputs.log_errors == 'true'
        uses: actions/upload-artifact@v4
        with:
          name: test-error-log
          path: error-log.txt
